<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Front-end - Angular</a>
  </div>
</nav>
<div id="divChart">
  <canvas id="myChart"></canvas>
</div>
<div id="button-div">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    Show Table
  </button>
</div>
<div class="collapse" id="collapseExample">
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Estado</th>
        <th scope="col">Capital</th>
        <th scope="col">Quatidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pernambuco</td>
        <td>Recife</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>São Paulo</td>
        <td>São Paulo</td>
        <td>19</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Rio de Janeiro</td>
        <td>Rio de Janeiro </td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Rio Grande do Sul</td>
        <td>Porto Alegre</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Amazonas</td>
        <td>Manaus</td>
        <td>8</td>
      <tr>
        <th scope="row">1</th>
        <td>Pará</td>
        <td>Belém</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>